.side_by_side_table{
    display: flex;
    margin: 5rem 5rem 0 5rem;
    justify-content: space-between;
}

.stack_table{
    display: flex;
    margin: 5rem 5rem 0 5rem;
    background: white;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 1rem;
}

.stack_table div{
    min-height: 13rem;
}

.view_button{
    position: absolute;
    right: 6rem;
    top: 19rem;
    height: 3rem;
    width: 3rem;
    border: none;
    background: none;
}

.view_button:hover{
    color: aqua;
}

.icon{
    height: 100%;
    width: 100%;
}